.jumbotron {
  height:60vh;
  background:url(../Pic/jumbotron.jpg);
  background-size: cover;
  margin-top: 0mm;
  margin-bottom: 1mm;
}
.navbar-nav a{
  color: #5bc0de !important;
}
.dropdown-menu a{
  color: #5bc0de !important;
}

.navbar-brand
{
color:  #5bc0de !important;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.price {
	color: grey;
	font-size: 22px;
}
