@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background:cornsilk;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
    margin-top: 40px;
}

header {
  background:#99334D ;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo
{
    float:left;
margin-left:20px;
margin-top:5px;
}

nav {
  float: right;
padding-right:70px;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 27px;

  position: relative;
}

nav a {
  color:cornsilk;
  text-decoration: none;
  text-transform: none;
  font-size: 21px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 260ms;
}

nav a:hover::before {
  width: 100%;
}

nav input[type=text]
{
   width:550px;
    float: left;
    padding: 10px;
    border:none;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:60px;
    font-size:17px;
    border-radius:3px;
    outline:none;
   
}